.count{
    margin: 4rem auto 1.5rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 52.31rem;    
}

.created, .completed{
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.created {
    color: var(--blue);
}

.completed {
    color: var(--purple);
}

.number{
    color: var(--gray-200);
    background: var(--gray-400);
    border-radius: 100px;
    font-size: 10px;
    padding: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    border: 3px solid var(--gray-400);
} 

@media (max-width: 768px) {
    .count {
      width: 90%;
    }    
}