.count{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.created, .completed{
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 14px;
}

.created {
    color: var(--blue);;
}

.completed {
    color: var(--purple);
}

.number{
    color: var(--gray-200);
    background: var(--gray-400);
    border-radius: 100px;
    font-size: 12px;
    padding: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
} 